<div class="card">
    <div class="card-body">
        <h2 class="card-title">Cuentas</h2>
    </div>
    <div class="card-text">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <thead>Name</thead>
                    <thead>Amount</thead>
                    <thead>Currency</thead>
                    <thead>Conversion Rate</thead>
                </thead>
                <tbody>
                    <tr *ngFor="let account of accounts">
                        <td>{{ account.name}}</td>
                        <td>{{ account.amount}}</td>
                        <td>{{ account.currency }}</td>
                        <td>{{ account.conversionRate}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>